In [1]:
from skorecard.datasets import load_uci_credit_card
from skorecard.bucketers import DecisionTreeBucketer

X, y = load_uci_credit_card(return_X_y=True)
bucketer = DecisionTreeBucketer(max_n_bins=10)

In [3]:
bucketer.fit(X, y)

DecisionTreeBucketer(max_n_bins=10,
                     variables=['EDUCATION', 'MARRIAGE', 'LIMIT_BAL',
                                'BILL_AMT1'])

In [4]:
bucketer.bucket_table('EDUCATION')

,bucket,label,Count,Count (%),Non-event,Event,Event Rate,WoE,IV
0,-1,Missing,0.0,0.00,0.0,0.0,NaN,0.000,0.000
1,0,"[-inf, 1.5)",2187.0,36.45,1790.0,397.0,0.181527,0.264,0.024
2,1,"[1.5, 2.5)",2725.0,45.42,2037.0,688.0,0.252477,-0.156,0.012
3,2,"[2.5, inf)",1088.0,18.13,828.0,260.0,0.238971,-0.083,0.001

In [5]:
bucketer.features_bucket_mapping_.get('EDUCATION')

BucketMapping(feature_name='EDUCATION', type='numerical', missing_bucket=None, other_bucket=None, map=[1.5, 2.5], right=False, specials={})

In [30]:
bucketer.fit_interactive(X, y, 'external')

Dash app running on http://127.0.0.1:8050/