# Missing Values

`skorecard` bucketers offer native support for missing values and will put them in a separate bucket by default. 

In the example below, you can see that the single missing value is put into a new bucket '-1'.

In [1]:
import numpy as np
import pandas as pd
from skorecard.bucketers import EqualFrequencyBucketer

df = pd.DataFrame({'counts': [1, 2, 2, 1, 4, 2, np.nan, 1, 3]})
EqualFrequencyBucketer(n_bins=2).fit_transform(df).value_counts()

counts
 0        6
 1        2
-1        1
dtype: int64

Alternatively, the user can give a specific bucket for the missing values.

In the example below, you can see we put the missing value into bucket 1

In [2]:
df = pd.DataFrame({'counts': [1, 2, 2, 1, 4, 2, np.nan, 1, 3]})
EqualFrequencyBucketer(n_bins=2, missing_treatment={'counts': 1}).fit_transform(df).value_counts()

counts
0         6
1         3
dtype: int64

If the user wishes the missing values to be left untouched, they can specify this with the `passthrough` argument

In [4]:
df = pd.DataFrame({'counts': [1, 2, 2, 1, 4, 2, np.nan, 1, 3]})
EqualFrequencyBucketer(n_bins=2, missing_treatment='passthrough').fit_transform(df)

   counts
0     0.0
1     0.0
2     0.0
3     0.0
4     1.0
5     0.0
6     NaN
7     0.0
8     1.0