# Create bucketer from file

In the previous section we saw that we can save a bucketer to a yaml file. We can also load a yaml file and create a bucketer from this using the `UserInputBucketer`

In [1]:
from skorecard.bucketers import UserInputBucketer
from skorecard.datasets import load_uci_credit_card

X, y = load_uci_credit_card(return_X_y=True)

In [2]:
import yaml
mapping = yaml.safe_load(open("bucket_process.yml","r"))

uib = UserInputBucketer(mapping)
uib.transform(X).head(4)

   EDUCATION  MARRIAGE  LIMIT_BAL  BILL_AMT1
0          0         0          8          5
1          2         0          3          4
2          0         0          8          5
3          0         1          4          0